@font-face {
  font-family: "neon";
  src: url(../fonts/Neon.ttf);
}
@font-face {
  font-family: "neon-title";
  src: url(../fonts/NEON-ABSOLUTE-SANS1.ttf);
}
.neon-banner {
  background-image: url(../images/neon-back.png);
  height: 130vh;
  background-size: cover;
}
.neon-banner nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: black;
}
.neon-banner nav img {
  height: 8vh;
}
.neon-banner nav .hamburger {
  display: none;
  color: white;
}
.neon-banner nav .basique {
  display: flex;
  right: 2px;
  top: 60px;
  background-color: black;
}
.neon-banner nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 30%;
}
.neon-banner nav div a {
  list-style-type: none;
  font-size: 20px;
  color: white;
  font-family: "neon";
  text-decoration: none;
  width: auto;
  display: block;
}
.neon-banner .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 110vh;
}
.neon-banner .logo .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.neon-banner .logo .txt #portfolio {
  font-size: 8em;
  color: white;
  font-family: "neon-title";
  line-height: 0em;
}
.neon-banner .logo .txt #date {
  font-size: 3em;
  color: white;
  font-family: "neon";
  margin: 0;
  line-height: 2em;
}
.neon-banner .logo .txt #formation {
  font-size: 1em;
  color: white;
  font-family: "neon-title";
  margin: 0;
  line-height: 1em;
}
.neon-banner .logo div .profil {
  animation: rotation 180s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.neon-banner .logo img {
  width: 70%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.mot {
  font-size: 20px;
  color: black;
  font-family: "neon";
  width: 50%;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}
.mot .title {
  font-size: 30px;
  color: black;
  font-family: "neon-title";
  line-height: 60px;
  border-bottom: black solid 10px;
  padding-bottom: 30px;
}
.mot article .border-left {
  border-left: black solid 10px;
  margin-left: 5vw;
  text-align: left;
}
.mot article .rotate {
  width: 100px;
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.ground-banner {
  background-image: url(../images/ground-banner.jpg);
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ground-banner .aimez {
  background-image: url(../images/btn-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.ground-banner .aimez p {
  font-size: 4vw;
  color: pink;
  font-family: "neon-title";
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 1em;
  width: 60%;
  margin-top: 5%;
}

.footer {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  color: white;
  font-family: "neon";
}

* {
  text-decoration: none;
}

.banner-top nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: black;
}
.banner-top nav .hamburger {
  display: none;
  color: white;
}
.banner-top nav .basique {
  display: flex;
  right: 5vw;
  top: 60px;
  width: 200px;
  background-color: black;
}
.banner-top nav img {
  height: 8vh;
}
.banner-top nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 30%;
}
.banner-top nav div a {
  list-style-type: none;
  font-size: 20px;
  color: white;
  font-family: "neon";
  text-decoration: none;
}

.formulaire {
  background-image: url(../images/open-neon-sign-at-night.jpg);
  background-position: center;
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  color: white;
  font-family: "neon";
}
.formulaire .article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulaire .mail {
  width: 41vw;
}
.formulaire input {
  width: 20vw;
  height: 30px;
  font-size: 20px;
  color: grey;
  font-family: "neon";
  margin-bottom: 15px;
}
.formulaire .label {
  font-size: 20px;
  color: grey;
  font-family: "neon";
  width: 41vw;
}
.formulaire .submit {
  text-decoration: none;
  background-image: url(../images/btn-back.png);
}
.formulaire .warning {
  background-color: rgba(0, 0, 0, 0.445);
  font-size: 15px;
  color: white;
  font-family: "neon";
}

.rsx {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 5%;
  height: 50vh;
}
.rsx div {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 20vw;
  font-size: 20px;
  color: black;
  font-family: "neon";
}
.rsx div .lien {
  text-decoration: none;
  color: pink;
}
.rsx div .round {
  background-image: url(../images/round.png);
  height: 50px;
  width: 60px;
  background-position: center;
  background-size: contain;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.rsx div .round i {
  color: purple;
  position: absolute;
  top: 15px;
  width: 20px;
  right: 20px;
}

.footer {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  color: white;
  font-family: "neon";
}

.banner-top nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: black;
}
.banner-top nav .hamburger {
  display: none;
  color: white;
}
.banner-top nav .basique {
  display: flex;
  right: 5vw;
  top: 60px;
  width: 200px;
  background-color: black;
}
.banner-top nav img {
  height: 8vh;
}
.banner-top nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 30%;
}
.banner-top nav div a {
  list-style-type: none;
  font-size: 20px;
  color: white;
  font-family: "neon";
  text-decoration: none;
}

section .title {
  font-size: 30px;
  color: black;
  font-family: "neon-title";
  line-height: 15vh;
  border-bottom: black solid 10px;
  width: 30vw;
  text-align: center;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container {
  height: 220vh;
}
.container article {
  width: 60vw;
  height: 65vh;
  display: block;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container article div {
  height: 30vh;
}
.container article div a {
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: "neon";
  background-color: white;
  padding: 10px;
  border-radius: 10px 0px;
  box-shadow: 7px 3px 10px 0px black;
}
.container article div img {
  margin-left: 30px;
  margin-right: 30px;
  width: 300px;
  box-shadow: 10px 10px 10px 0px pink;
}
.container article .texte {
  height: 30vh;
}
.container article .texte .projo {
  font-size: 30px;
  color: black;
  font-family: "neon-title";
  line-height: 40px;
}
.container article .texte p {
  font-size: 20px;
  color: black;
  font-family: "neon";
}

.footer {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  color: white;
  font-family: "neon";
}

.banner-top nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: black;
}
.banner-top nav .hamburger {
  display: none;
  color: white;
}
.banner-top nav .basique {
  display: flex;
  right: 2px;
  top: 60px;
  width: 60vw;
  background-color: black;
}
.banner-top nav img {
  height: 8vh;
}
.banner-top nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 30%;
}
.banner-top nav div a {
  list-style-type: none;
  font-size: 20px;
  color: white;
  font-family: "neon";
  text-decoration: none;
}

.cptc div {
  border-left: 20px solid black;
  margin-top: 20vh;
  margin-left: 10vw;
  padding-left: 20px;
  width: 50vw;
  height: 30vh;
}
.cptc div h2 {
  font-size: 30px;
  color: black;
  font-family: "neon-title";
  line-height: 30px;
}
.cptc div p {
  font-size: 20px;
  color: black;
  font-family: "neon";
}
.cptc .hands {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.cptc .hands img {
  width: 60vw;
}

.losange {
  background-image: url(../images/back-neon2.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.losange article {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
  width: 40vw;
  height: 80vh;
}
.losange article div {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  font-size: 20px;
  color: white;
  font-family: "neon";
  width: 20vw;
}
.losange article div h3 {
  font-size: 30px;
  color: white;
  font-family: "neon-title";
  line-height: 30px;
}
.losange article div p {
  margin-left: 30px;
}
.losange article div img {
  width: 20vw;
}

.branches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 120vh;
}
.branches .txt {
  width: 40vw;
}
.branches .txt .autres {
  font-size: 50px;
  color: black;
  font-family: "neon-title";
  line-height: 8vh;
}
.branches .txt .texte {
  padding-left: 30px;
  border-left: 10px solid black;
}
.branches .images {
  width: 60vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.branches .images .colonnes {
  height: 100%;
  width: 14vw;
}
.branches .images .colonnes img {
  width: 100%;
}
.branches .images .colonnes .conteneur-image-low {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/btn-back.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.branches .images .colonnes .conteneur-image-low a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "neon";
}

.footer {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  color: white;
  font-family: "neon";
}

@media screen and (max-width: 1400px) {
  .neon-banner article {
    padding: 30px;
    height: 150vh;
  }
}
@media screen and (max-width: 1100px) {
  .neon-banner {
    height: 100vh;
  }
  .neon-banner .logo {
    margin-top: 0vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .neon-banner .logo .txt #portfolio {
    font-size: 15em;
    color: white;
    font-family: "neon-title";
  }
  .neon-banner .logo .txt #date {
    font-size: 3em;
    color: white;
    font-family: "neon";
  }
  .neon-banner .logo .txt #formation {
    font-size: 1em;
    color: white;
    font-family: "neon-title";
  }
  .neon-banner .logo .txt div {
    width: 50vw;
  }
  .neon-banner .portraitIndex {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
  }
  .neon-banner .portraitIndex img {
    width: 50%;
  }

  .ground-banner {
    height: 50vh;
  }
  .ground-banner .aimer {
    width: 80vw;
  }
}
@media screen and (max-width: 900px) {
  .neon-banner {
    height: 130vh;
  }
  .neon-banner .logo {
    margin-top: 0vh;
  }
  .neon-banner .logo .txt #portfolio {
    font-size: 90px;
    color: white;
    font-family: "neon-title";
  }
  .neon-banner nav .hamburger {
    display: flex;
  }
  .neon-banner nav .basique {
    display: none;
    position: absolute;
  }
  .neon-banner article {
    height: 70vh;
  }
  .neon-banner article .txt #portfolio {
    font-size: 5em;
    color: white;
    font-family: "neon-title";
  }

  .ground-banner {
    height: 40vh;
  }
}
@media screen and (max-width: 500px) {
  .neon-banner {
    height: 120vh;
  }
  .neon-banner .logo {
    margin-top: 0vh;
  }
  .neon-banner .logo .txt #portfolio {
    font-size: 60px;
    color: white;
    font-family: "neon-title";
  }
  .neon-banner .logo article {
    height: 60vh;
  }
  .neon-banner .logo article .txt #portfolio {
    font-size: 3em;
    color: white;
    font-family: "neon-title";
  }
  .neon-banner .logo article .txt .mot {
    width: 80%;
  }
  .neon-banner .logo article .txt .mot .title {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .banner-top div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .banner-top .formulaire {
    height: 150vh;
  }
  .banner-top .mail {
    width: 60vw;
  }
  .banner-top input {
    width: 60vw;
  }
  .banner-top .label {
    width: 60vw;
  }

  .rsx {
    height: 150vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (max-width: 950px) {
  .formulaire {
    height: 200vh;
  }

  .rsx {
    height: 200vh;
  }

  section nav .hamburger {
    display: flex;
  }
  section nav .basique {
    display: none;
    position: absolute;
  }
}
@media screen and (max-width: 1200px) {
  .cptc div {
    height: 40vh;
  }
}
.losange {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.losange .square-bottom {
  width: 40vw;
}
.losange .square-bottom div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.losange .square-bottom div p {
  margin-left: 0px;
}
.losange .square-top {
  width: 40vw;
}
.losange .square-top div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.losange .square-top div p {
  margin-left: 0px;
}
.losange .branches {
  height: 150vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .losange {
    height: 350vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .banner-top nav .hamburger {
    display: flex;
    position: relative;
  }
  .banner-top nav .basique {
    position: absolute;
    right: 15vw;
    width: 200px;
    display: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .cptc {
    height: 60vh;
    margin: 20px;
  }
  .cptc div {
    margin-top: 10vh;
  }

  .losange {
    height: 280vh;
  }
  .losange .square-top {
    width: 80vw;
  }
  .losange .square-bottom {
    width: 80vw;
  }
  .losange article {
    width: 90vw;
  }
  .losange article .theme {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    width: 70vw;
  }
}
@media screen and (max-width: 700px) {
  .cptc {
    height: 120vh;
  }
  .cptc div {
    margin-top: 30vh;
  }
  .cptc .hands {
    margin-top: 50vw;
  }

  .losange {
    height: 430vh;
  }
  .losange article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .losange article div {
    width: 70vw;
  }
  .losange article .theme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .branches {
    height: 200vh;
  }
  .branches .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .cptc {
    height: 120vh;
  }
  .cptc div {
    margin-top: 30vh;
  }
  .cptc .hands {
    margin-top: 50vw;
  }

  .losange {
    height: 310vh;
  }
  .losange article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .losange article div {
    width: 70vw;
  }
  .losange article .theme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .branches {
    height: 230vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .branches .txt {
    width: 80vw;
  }
  .branches .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    height: 220vh;
  }
  .container article {
    width: 60vw;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    height: 390vh;
  }
  .container article {
    width: 60vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container article div {
    margin-bottom: 20vh;
  }
  .container .reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 970px) {
  .container {
    height: 420vh;
  }
  .container article {
    width: 60vw;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container article div {
    margin-bottom: 20vh;
  }
  .container .reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 800px) {
  .container {
    height: 450vh;
  }
  .container article {
    width: 90vw;
    margin-bottom: 0vh;
    height: 150vh;
  }
  .container article div {
    height: 30vw;
  }
}
@media screen and (max-width: 570px) {
  .container {
    height: 490vh;
  }
  .container article {
    width: 80vw;
    margin-bottom: 0vh;
    height: 160vh;
  }
  .container article div {
    height: 70vw;
  }
}
@media screen and (max-width: 400px) {
  .container {
    height: 550vh;
  }
  .container article {
    width: 80vw;
    margin-bottom: 0vh;
    height: 180vh;
  }
  .container article div {
    height: 150vw;
  }
}

/*# sourceMappingURL=style.css.map */
